@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --light-gray-cyan-bg: hsl(180, 52%, 96%);
  --light-gray-cyan-filter: hsl(180, 31%, 95%);
  --dark-gray-cyan: hsl(180, 8%, 52%);
  --v-dark-gray-cyan: hsl(180, 14%, 20%);
  --desat-dark-cyan: hsl(180, 29%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-gray-cyan-bg);
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

.header-img {
  background: var(--desat-dark-cyan);
  overflow: hidden;
  margin-bottom: 10%;
}

.filter-container {
  display: flex;
  flex-direction: row;
  position: relative;
  background: white;
  margin: 6% 6%;
  margin-top: -4.5em;
  padding: 5%;
  border-radius: 10px;
}

.filter-btn {
  cursor: pointer;
  background: var(--light-gray-cyan-bg);
  color: var(--desat-dark-cyan);
  font-weight: 700;
  font-size: 15px;
  border: none;
  margin: 0.6em 1.2em;
  margin-left: -1px;
  padding: 9px;
}

.filter-btn::after {
  font-family: 'Font Awesome 6 Free';
  content: '\f00d';
  font-size: 17px;
  background: var(--desat-dark-cyan);
  color: white;
  position: relative;
  left: 0.6em;
  padding: 9.5px;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.clear-btn {
  cursor: pointer;
  background: white;
  color: var(--dark-gray-cyan);
  border: none;
  font-weight: 700;
  font-size: 15px;
  margin-right: 0.8em;
  margin-left: auto;
}

.listings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
